* {
  font-family: "Open Sans", sans-serif;
}

/*
 MAIN COLORS
  first-color: #f4ce14;
  background-color: #495e57;
 
TINTS ( Lighter)
    hero-text-description #dbdfdd
    #ccfbf1
    #929e9a
    #5b6e68
    #fefae8
    
    #f8e272
    #f6d843
SHADES (Darker)
#7a670a
  #3a4b46
  #33423d
  #1d2623
*/
